@import "../../../style/typography.scss";

.interface-demo {
  position: relative;
  overflow: hidden;

  video {
    width: 100%;
    display: block;
  }
}

.interface-annotation-highlight {
  position: absolute;
  left: 0rem;
  right: 0rem;
  top: 0rem;
  bottom: 0rem;
  // background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  pointer-events: none;
  // border-radius: 50%;
}

.progress-ring-container {
  display: flex;

  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;

  // restart button
  button {
    @extend .label;

    display: flex;
    align-items: center;

    // font-size: 14px;

    border-radius: 4px;

    background-color: #282828;
    color: #fff;
    height: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border: none;

    z-index: 1;
    cursor: none;

    outline: none;

    img {
      height: 1rem;
    }

    &:hover {
      color: #fff;
    }
  }

  video {
    pointer-events: none;
    z-index: -1;
  }
}
