.interface-demo {
  position: relative;

  video {
    width: 100%;
    display: block;
  }
}

.progress-ring-container {
  display: flex;

  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;

  // restart button
  button {
    display: block;
    background-color: transparent;
    background-image: url("/img/icons/replay.svg");
    background-size: 100% 100%;
    width: 2rem;
    height: 2rem;

    border: none;

    z-index: 1;
    cursor: none;

    outline: none;
  }

  video {
    pointer-events: none;
    z-index: -1;
  }
}
