@import "../../style/breakpoints.scss";

.projectCard {
  cursor: none;

  --spacing-vertical: 4px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;

  max-width: 100%;
  min-height: 30rem;

  padding: 1rem;

  
  font-family: "source-sans-pro", sans-serif;

  background-color: #000;
  color: #fff;
  
  background-size: cover;
  background-position: center;
  height: 100%;

  transition-property: transform;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  transition-duration: 0.2s;

  .projectType {
    margin-bottom: auto;
    // font-family: "Roboto Mono";
    font-size: 12px;
  }

  h3 {
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -.04em;
    margin-bottom: var(--spacing-vertical);
  }

  p {
    max-width: 15rem;
    letter-spacing: .007em;

    margin-top: 0rem;
    margin-bottom: var(--spacing-vertical);
    
  }

  z-index: 10;
}

.projectCard:hover {
  cursor: none;
  outline: 10px solid rgba(0,0,0,0.1);
}

.projectCardContainer {
  margin-left: auto;
  margin-right: auto;
  // create vertical seperation between each item
  margin-bottom: 2rem;
}


.projectCardLink {
  text-decoration: none;

  &:active {
    opacity: 1;
  }
}

.projectCardViewing {
  // height:80vh;
  height: 100%;

  // @include viewportLargerThan($breakpoint-xl) {
    // max-width: 90vw;
    // margin-left: 1rem;
    // margin-right: 1rem;
  // }
}
