@import "../../style/breakpoints.scss";

.projectCard {
  cursor: none;
  max-width: 100%;
  min-height: 30rem;
  // margin-bottom: 1rem;

  // z-index: 10;
}

// .projectCard:hover {
//   cursor: none;
  // outline: 10px solid rgba(0,0,0,0.1);
// }


.projectCardLink {

  text-decoration: none;

  &:active {
    opacity: 1;
  }
}

.projectCardContent { 
  --spacing-vertical: 4px;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  
  font-family: "source-sans-pro", sans-serif;
  color: #fff;
  
  .projectType {
    margin-bottom: auto;
    // font-family: "Roboto Mono";
    font-size: 12px;
  }

  h3 {
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -.04em;
    margin-bottom: var(--spacing-vertical);
  }

  p {
    max-width: 15rem;
    letter-spacing: .007em;

    margin-top: 0rem;
    margin-bottom: var(--spacing-vertical);
    
  }
}

.reactiveCard {
  position:relative;
  outline: 0px solid rgba(0,0,0,0);
  transition-property: outline;
  transition-duration: .1s;
  &:hover {
    outline: 10px solid rgba(0,0,0,.9);
    z-index: 10;
    // outline-color: rgba(0,0,0,.1);
    // outline-style: solid;
    // outline-width: 10px;
  }
}