@import "../../style/breakpoints.scss";

// .LandingHero {
//   h1 {
//     position: fixed;
//     padding-top: 40vh;
//     font-size: 36;
//     max-width: 40rem;
//     z-index: -1;
//   }
//   max-width: 40rem;
//   height: 80vh;
// }

.LandingHero {
  h1 {
    position: fixed;
    
    padding-bottom: 28vh;
    // height: 40vh;
    // min-height: 10rem;
    // max-height: 24rem;
    font-size: 36px;
    letter-spacing: -0.025em;
    max-width: 40rem;
    z-index: -1;
  }
  display:flex;
  align-items: flex-end;

  max-width: 40rem;

  height: 70vh;
  @include viewportLargerThan($breakpoint-s) {
    height: 80vh;
  }
  // max-height: 60rem;
}
