@import "../../style/breakpoints.scss";

// .LandingHero {
//   h1 {
//     position: fixed;
//     padding-top: 40vh;
//     font-size: 36;
//     max-width: 40rem;
//     z-index: -1;
//   }
//   max-width: 40rem;
//   height: 80vh;
// }

.LandingHero {
  h1 {
    position: fixed;
    padding-top: 5vw;
    font-size: 7vw;
    height: 50vh;

    @include viewportLargerThan($breakpoint-m) {
      height: auto;
      padding-top: 10vh;
      padding-bottom: 30vh;
      // font-size: 2.5vw;
      max-width: 30ch;
      font-size: 2.75rem;
      // font-size: 5vw;

      padding-top: 5vh;
      padding-bottom: 30vh;
      // max-width: 13em;
      font-size: 4rem;
    }
    // lock maximum font size when screen scale up
    @include viewportLargerThan(100em) {
      //OLD SIZE font-size: 2.75rem;
      padding-top: 5vh;
      padding-bottom: 30vh;
      max-width: 14em;
      font-size: 4rem;
    }
    letter-spacing: -0.048em;
    // max-width: 40rem;
    z-index: -1;
  }
  // display:flex;
  // align-items: flex-end;

  // max-width: 40rem;

  height: 65vh;
  // max-height: 70vh;
  // @include viewportLargerThan($breakpoint-s) {
  //   max-height: 75vh;
  // }
  // max-height: 60rem;
}
