.interface-demo {
  position: relative;

  video {
    width: 100%;
    display: block;
  }
}

.progress-ring-container {
  display: flex;
  align-items: baseline;

  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;

  // restart button
  a {
    display: block;
    background-image: url("/img/icons/replay.svg");
    background-size: 100% 100%;
    width: 2rem;
    height: 2rem;
  }
}
