@import "../style/breakpoints.scss";
html {
  // scroll-behavior: smooth;
}
body {
  margin: 0;
}

.full-width {
  position: relative;

  max-width: 80rem;
  
  // margin-left: 1rem;
  // margin-right: 1rem;
  margin-left: 20px;
  margin-right: 20px;

  @include viewportLargerThan(80em) {
    margin-left: auto;
    margin-right: auto;
  }
}

.nav-padding {
  padding-top:8rem;
}

// ======================================================
//
// Grid layout for the article view in project case study 
//
// ======================================================
.article-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include viewportLargerThan($breakpoint-m) {
    grid-template-columns: repeat(12, 1fr);
  }
  column-gap: 24px;
}

// use these to determine the horizontal layout of the grid
.article-grid__side-col {
  grid-column: 1/2;
}
.article-grid__full-grid-col {
  grid-column: 2/-1;
  @include viewportLargerThan($breakpoint-m) {
    grid-column: 3/13;
  }
}

.article-grid__full-content-col {
  grid-column: 2/-1;
  @include viewportLargerThan($breakpoint-m) {
    grid-column: 3/13;
  }
}
.article-grid__primary-col {
  grid-column: 3/8;
}
.article-grid__secondary-col {
  grid-column: 2/-1;
  @include viewportLargerThan($breakpoint-m) {
    grid-column: 8/13;
  }
}

.article-grid__section-seperator {
  margin-bottom: 8rem;
}