@import "../style/breakpoints.scss";
html {
  // scroll-behavior: smooth;
}
body {
  margin: 0;
}

.full-width {
  position: relative;

  max-width: 90em;
  
  // margin-left: 1rem;
  // margin-right: 1rem;
  margin-left: 20px;
  margin-right: 20px;

  @include viewportLargerThan(98em) {
    margin-left: auto;
    margin-right: auto;
  }
}

.nav-padding {
  // ORIGINAL VALUE
  @include viewportLargerThan($breakpoint-m) {
    padding-top:8rem;
  }
  padding-top:1rem;
}

// ======================================================
//
// Grid layout for the article view in project case study 
//
// ======================================================
$grid-col-primary--collapsed: 1;
$grid-col-primary--full: 3;

.main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include viewportLargerThan($breakpoint-m) {
    grid-template-columns: repeat(12, 1fr);
  }
  column-gap: 24px;
}

// use these to determine the horizontal layout of the grid
.main-grid__side-col {
  @include viewportLargerThan($breakpoint-m) {
    display: inline-block;
    grid-column: 1/3;
  }
  display: none;
  // grid-column: 1/3;
}

.main-grid__side-col--presist {
  @extend .main-grid__side-col;
  display: block;
}

.main-grid__full-width {
  grid-column: 1/-1;
  @include viewportLargerThan($breakpoint-m) {
    grid-column: 3/-1;
  }
}

.main-grid__full-content {
  grid-column: 1/-1;
  @include viewportLargerThan($breakpoint-m) {
    grid-column: 3/-1;
  }
}
.main-grid__primary-col {
  grid-column: 1/-1;
  @include viewportLargerThan($breakpoint-m) {
    grid-column: 3/8;
  }
}

.main-grid__primary-col--collapsable {
  @extend .main-grid__primary-col;
  display: none;
  @include viewportLargerThan($breakpoint-m) {
    display: block;
  }
}


.main-grid__secondary-col {
  grid-column: 2/-1;
  @include viewportLargerThan($breakpoint-m) {
    grid-column: 8/-1;
  }
}

.main-grid__section-seperator {
  margin-bottom: 8rem;
}

// ++++++++++++++++++++++++++++++++++++++++++++
// 
// for the project catagory on the landing page
//
// ++++++++++++++++++++++++++++++++++++++++++++
.main-grid__vertical-label {
  // display: none;
  font-size: 10vw;
  letter-spacing: -0.048em;
  color: #CCC;

  grid-column: 1/-1;

  transform: translateY(.55em);

  @include viewportLargerThan($breakpoint-m) {
    font-size: 2.5vw;
    color: #CCC;
    
    transform: none;
    
    display: block;
    margin-right: auto;
    grid-column: 2/3;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}