@import "../style/breakpoints.scss";
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

.full-width {
  position: relative;

  max-width: 80rem;
  
  margin-left: 1rem;
  margin-right: 1rem;

  @include viewportLargerThan(80em) {
    margin-left: auto;
    margin-right: auto;
  }
}

.nav-padding {
  padding-top:8rem;
}