@import url("https://use.typekit.net/sdz1siz.css");
@import "./layout.scss";
@import "./breakpoints.scss";

* {
  // font-family: "source-sans-3";
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

h1 {
  // font-family: "source serif pro";
  // font-variant-ligatures: common-ligatures;
  font-weight: 400; // regular
  font-size: 36px;
  letter-spacing: -0.023em;
  margin-bottom: 1.5rem;
}

h2 {
  // font-family: "source serif pro";
  font-size: 24px;
  letter-spacing: -0.023em;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

h4 {
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0em;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

h5 {
  // @include viewportLargerThan($grid-breakpoint-full) {
  //   font-weight: normal;
  // }
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0em;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

em {
  font-family: "source-serif-pro", serif;
  font-style: italic;
  text-transform: lowercase;
  line-height: 1rem;
}

.callout {
  font-variant-ligatures: common-ligatures;
  font-weight: 400;
}

.label {
  font-family: "roboto-mono", monospace;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

a {
  cursor: none;
  color: #999;
  text-decoration: none;
}

a:active {
  opacity: 0.7;
}

body {
  font-family: "source-sans-pro", sans-serif;
  color: #282828;
  font-size: 16px;
}

// ===============================
//
// TYPOGRAPHY OF ARTICLE/CASE STUDY/PROJCET VIEW
//
// ===============================
.article__section-header,
.article__section-number {
  margin-top: 0rem;
  margin-bottom: 1.5rem;

  font-size: 36px;
  font-weight: normal;
}

.article__section-description {
  font-size: 24px;
  color: var(--clr-primary-lighter);
  margin-top: 0rem;
  margin-bottom: 2rem;
}
