* {
  font-family: "source-sans-pro";
}

h1 {
  // font-family: "source serif pro";
  // font-variant-ligatures: common-ligatures;
  font-weight: 400; // regular
  font-size: 36px;
  letter-spacing: -0.023em;
}

h2 {
  // font-family: "source serif pro";
  font-size: 24px;
  letter-spacing: -0.023em;
}

p {
  font-family: "source-sans-pro", sans-serif;
}

.callout {
  font-family: "source-serif-pro", serif;
  font-variant-ligatures: common-ligatures;
  font-weight: 400;
}

a {
  color: #999;
  text-decoration: none;
}

a:active {
  opacity: .7;
}

// ===============================
//
// TYPOGRAPHY OF ARTICLE/CASE STUDY/PROJCET VIEW
//
// ===============================
.article__section-header, .article__section-number {
  margin-top: 0rem;
  margin-bottom: .5rem;

  font-size: 36px;
  font-weight: normal;
}

.article__section-description {
  font-size: 24px;
  color: var(--clr-primary-lighter);
  margin-top:1rem;
  margin-bottom:4rem;
}