@import "../../style/breakpoints.scss";

html {
  background: #fff;
}

.navLink,
.navLogo {
  font-size: 1rem;

  color: #999;
  text-decoration: none;
}

.navLogo {
  // margin-right: auto;
}

.navLinkContainer {
  display: flex;
}
.navLink {
  margin-left: 1rem;

  &:first-child {
    margin-left: auto;
  }
}

.navContainer {
  // padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.fixedContainer {
  position: fixed;
  width: 100%;

  // background-color:black;
  padding-top: 20px;
  padding-bottom: 20px;
  // padding-top: 12px;
  // padding-bottom: 12px;

  z-index: 10000;

  background-color: rgba(255, 255, 255, 0.95);
  // background: linear-gradient(
  //   to top,
  //   rgba(255, 255, 255, 0) 0%,
  //   rgba(255, 255, 255, 1) 100%
  // );

  bottom: 0rem;
  @include viewportLargerThan($breakpoint-m) {
    bottom: auto;
    background-color: transparent;
  }
}

.fixedContainer--blocked {
  background-color: rgba(255, 255, 255, 0.95);
}
